<% content_for :title do %>
    <%= t('.update_contact_price') %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_prices.backend_supplier_prices_path %>">
    <i class="fa fa-table"></i> <%= t('.prices') %>
    </a> / <%= @contact.name %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <%= render 'form', contact: @contact %>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>