<div class="table-scrollable noborder">
    <table class="table table-advance table-hover table-striped table-checkable order-column" id="">
        <thead>
            <tr>
                <th width='1%'>
                    <%= erp_datalist_check_all %>
                </th>
                <th>
                    <%= t('.contact') %>
                </th>
                <% Erp::Products::Category.all. each do |cat| %>
                    <% if get_columns(params).include?("category_name_#{cat.id}") %>
                        <th class="text-right">
                            <%= cat.name %>
                        </th>
                    <% end %>
                <% end %>
                <th width="7%"><%= t('.actions') %></th>
            </tr>
        </thead>
        <tbody>
            <% @contacts.each do |contact| %>
                <% table = Erp::Prices::Price.get_related_prices_rows(
                    contact_id: contact.id,
                    for_product: true,
                    type: Erp::Prices::Price::TYPE_SALES
                ) %>
                <tr class="odd gradeX has-child-table" data-url="<%= erp_prices.contact_list_details_backend_customer_prices_path(id: contact.id) %>">
                    <td>
                        <%= erp_datalist_check_row(id: contact.id) %>
                    </td>
                    <td>
                        <i class="fa fa-plus expand tr-expand-button <%= 'disabled' if false %>"></i>
                        <strong><%= contact.name %></strong>
                    </td>
                    <% Erp::Products::Category.all. each do |cat| %>
                        <% if get_columns(params).include?("category_name_#{cat.id}") %>
                        <td class="text-right text-nowrap">
                            <% Erp::Prices::Price.get_related_prices_rows(
                                contact_id: contact.id,
                                for_category: true,
                                category_id: cat.id,
                                type: Erp::Prices::Price::TYPE_SALES
                            ).each do |row| %>
                                <span class="font-yellow text-small">
                                    <%= raw (row[:min_max].present? ? ('SL: ' + row[:min_max]) : '') +
                                            (row[:pvalue].present? ? (' | Đ.kính: ' + row[:pvalue]) : '')
                                    %>
                                </span><br>
                                <strong><%= format_price(row[:price]) %></strong>
                                <br>
                            <% end %>
                        </td>
                        <% end %>
                    <% end %>
                    <td>
                        <%= erp_datalist_row_actions(
                            [
                                {
                                    text: '<i class="fa fa-edit"></i> '+t('.update_price'),
                                    url: erp_prices.update_contact_backend_customer_prices_path(contact_id: contact.id)
                                }
                            ]
                        ) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <% if @contacts.empty? %>
        <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
    <% end %>

    <%= erp_datalist_pagination(@contacts) %>
</div>
