<% content_for :title do %>
    <%= t('.prices') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-table"></i> <%= t('.prices') %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/edit', {
        text: t('.update_price'),
        href: erp_prices.general_update_backend_customer_prices_path,
        class: 'btn-noborder'
    }) %>
<% end %>

<%= erp_datalist(
    url: erp_prices.general_list_backend_customer_prices_path,
    keywords: [
        {
            text: t('.category_name'), name: 'erp_products_categories.name'
        }
    ],
    actions: [
        
    ],
    filters: [
        
    ],
    columns: [
        {
            text: t('.category_name'), name: "category_name", value: true, checked: true
        },
        {
            text: t('.min_max_qty'), name: "min_max_qty", value: true, checked: true
        },
        {
            text: t('.diameter'), name: "diameter", value: true, checked: true
        },
        {
            text: t('.price'), name: "price", value: true, checked: true
        }
    ]
) %>

<% table = Erp::Prices::Price.get_related_prices_rows(
    contact_id: Erp::Contacts::Contact.get_main_contact.id,
    for_product: true,
    type: Erp::Prices::Price::TYPE_SALES
) %>

<table class="table table-advance" id="">
    <thead>
        <% if table.count > 0 %>
            <tr>
                <th colspan="3" class="custom-row-product text-center bold">
                    <span class="fa fa-arrow-circle-down"></span> GIÁ BÁN SẢN PHẨM CỤ THỂ <span class="fa fa-arrow-circle-down"></span>
                </th>
            </tr>
        <% end %>
        <tr>
            <th>
                <%= 'Tên sản phẩm / hàng hóa' %>
            </th>
            <th class="text-left">
                <%= t('.min_max_qty') %>
            </th>
            </th>
            <th class="text-right">
                <%= t('.price') %>
            </th>
        </tr>
    </thead>
    <tbody>
        <% table.each_with_index do |row,index| %>
            <tr class="custom-row-product-<%= index%2 %>">
                <th rowspan="">
                    <strong><%= row[:products] %></strong>
                </th>
                <td class="text-left"><%= row[:min_max] %></td>
                <td class="text-right"><strong><%= format_price(row[:price]) %></strong></td>
            </tr>
        <% end %>
    </tbody>
</table>